@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
    --background: 40.0000 60.0000% 98.0392%;
    --foreground: 38.1818 13.9241% 15.4902%;
    --card: 0 0% 100%;
    --card-foreground: 38.1818 13.9241% 15.4902%;
    --popover: 0 0% 100%;
    --popover-foreground: 38.1818 13.9241% 15.4902%;
    --primary: 42.6316 81.7204% 63.5294%;
    --primary-foreground: 45.3061 71.0145% 13.5294%;
    --secondary: 42.8571 69.0141% 86.0784%;
    --secondary-foreground: 44.5714 61.4035% 22.3529%;
    --muted: 42.0000 33.3333% 94.1176%;
    --muted-foreground: 40.9091 10.0917% 42.7451%;
    --accent: 42.8571 91.3043% 90.9804%;
    --accent-foreground: 44.5714 61.4035% 22.3529%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 210.0000 40.0000% 98.0392%;
    --border: 45.0000 23.5294% 86.6667%;
    --input: 45.0000 23.5294% 86.6667%;
    --ring: 42.6316 81.7204% 63.5294%;
    --chart-1: 42.6316 81.7204% 63.5294%;
    --chart-2: 43.9286 66.1417% 50.1961%;
    --chart-3: 44.0708 63.1285% 35.0980%;
    --chart-4: 42.5641 82.9787% 72.3529%;
    --chart-5: 43.5000 85.1064% 81.5686%;
    --sidebar: 40.0000 50.0000% 97.6471%;
    --sidebar-foreground: 42.0000 15.3846% 25.4902%;
    --sidebar-primary: 42.6316 81.7204% 63.5294%;
    --sidebar-primary-foreground: 45.3061 71.0145% 13.5294%;
    --sidebar-accent: 42.8571 69.0141% 86.0784%;
    --sidebar-accent-foreground: 44.5714 61.4035% 22.3529%;
    --sidebar-border: 45.0000 28.5714% 91.7647%;
    --sidebar-ring: 42.6316 81.7204% 63.5294%;
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: 0, 0, 0;
    --shadow-2xs: 0px 4px 10px 0px hsl(0, 0, 0 / 0.03);
    --shadow-xs: 0px 4px 10px 0px hsl(0, 0, 0 / 0.03);
    --shadow-sm: 0px 4px 10px 0px hsl(0, 0, 0 / 0.05), 0px 1px 2px -1px hsl(0, 0, 0 / 0.05);
    --shadow: 0px 4px 10px 0px hsl(0, 0, 0 / 0.05), 0px 1px 2px -1px hsl(0, 0, 0 / 0.05);
    --shadow-md: 0px 4px 10px 0px hsl(0, 0, 0 / 0.05), 0px 2px 4px -1px hsl(0, 0, 0 / 0.05);
    --shadow-lg: 0px 4px 10px 0px hsl(0, 0, 0 / 0.05), 0px 4px 6px -1px hsl(0, 0, 0 / 0.05);
    --shadow-xl: 0px 4px 10px 0px hsl(0, 0, 0 / 0.05), 0px 8px 10px -1px hsl(0, 0, 0 / 0.05);
    --shadow-2xl: 0px 4px 10px 0px hsl(0, 0, 0 / 0.13);
    --tracking-normal: -0.01em;
    --spacing: 0.25rem;
    }

    .dark {
    --background: 40 11.1111% 5.2941%;
    --foreground: 34.2857 30.4348% 95.4902%;
    --card: 45 9.0909% 8.6275%;
    --card-foreground: 34.2857 30.4348% 95.4902%;
    --popover: 45 9.0909% 8.6275%;
    --popover-foreground: 34.2857 30.4348% 95.4902%;
    --primary: 42.6316 81.7204% 63.5294%;
    --primary-foreground: 45.3061 71.0145% 13.5294%;
    --secondary: 38.1818 13.9241% 15.4902%;
    --secondary-foreground: 42.8571 69.0141% 86.0784%;
    --muted: 40 11.1111% 10.5882%;
    --muted-foreground: 41.2500 8.0000% 60.7843%;
    --accent: 38.1818 13.9241% 15.4902%;
    --accent-foreground: 42.6316 81.7204% 63.5294%;
    --destructive: 0 62.8205% 30.5882%;
    --destructive-foreground: 0 85.7143% 97.2549%;
    --border: 38.1818 13.9241% 15.4902%;
    --input: 38.1818 13.9241% 15.4902%;
    --ring: 42.6316 81.7204% 63.5294%;
    --chart-1: 42.6316 81.7204% 63.5294%;
    --chart-2: 43.9286 66.1417% 50.1961%;
    --chart-3: 44.0708 63.1285% 35.0980%;
    --chart-4: 42.5641 82.9787% 72.3529%;
    --chart-5: 43.5000 85.1064% 81.5686%;
    --sidebar: 45 12.5000% 6.2745%;
    --sidebar-foreground: 40.0000 18.0000% 80.3922%;
    --sidebar-primary: 42.6316 81.7204% 63.5294%;
    --sidebar-primary-foreground: 45.3061 71.0145% 13.5294%;
    --sidebar-accent: 42.8571 11.1111% 12.3529%;
    --sidebar-accent-foreground: 42.8571 69.0141% 86.0784%;
    --sidebar-border: 42.8571 11.1111% 12.3529%;
    --sidebar-ring: 42.6316 81.7204% 63.5294%;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 10px;
    --shadow-blur: 20px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.4;
    --shadow-color: 0, 0, 0;
    --shadow-2xs: 0px 10px 20px 0px hsl(0, 0, 0 / 0.20);
    --shadow-xs: 0px 10px 20px 0px hsl(0, 0, 0 / 0.20);
    --shadow-sm: 0px 10px 20px 0px hsl(0, 0, 0 / 0.40), 0px 1px 2px -1px hsl(0, 0, 0 / 0.40);
    --shadow: 0px 10px 20px 0px hsl(0, 0, 0 / 0.40), 0px 1px 2px -1px hsl(0, 0, 0 / 0.40);
    --shadow-md: 0px 10px 20px 0px hsl(0, 0, 0 / 0.40), 0px 2px 4px -1px hsl(0, 0, 0 / 0.40);
    --shadow-lg: 0px 10px 20px 0px hsl(0, 0, 0 / 0.40), 0px 4px 6px -1px hsl(0, 0, 0 / 0.40);
    --shadow-xl: 0px 10px 20px 0px hsl(0, 0, 0 / 0.40), 0px 8px 10px -1px hsl(0, 0, 0 / 0.40);
    --shadow-2xl: 0px 10px 20px 0px hsl(0, 0, 0 / 1.00);
    }
}
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
